@using BlazorChess.Shared.Models
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation

<p>@(Game.IsBlackTurn?"Blacks":"Whites") turn</p>

<svg width="90vh" height="90vh" viewBox="0 0 100 100">
    @for (int y = 0; y < boardY; y++)
    {
        @for (int x = 0; x < boardX; x++)
        {
            var x2 = x;
            var y2 = y;
            var flippedX = x;
            var flippedY = y;
            if (Game.IsFlipped)
            {
                flippedX = boardX - 1 - x;
                flippedY = boardY - 1 - y;
            }

            <rect x="@(flippedX*sizeMultiply)" y="@(flippedY*sizeMultiply)"
                  width="@sizeMultiply" height="@sizeMultiply"
                  class="@( new Func<string>(()=>{return TileClass(x,y);})() )"
                  onclick="@(()=> HandleClick(x2,y2))">
            </rect>
            @if (Game.GameBoard.Tiles[x, y].OccupyingPrice != null)
            {
                <image x="@(flippedX*sizeMultiply)" y="@(flippedY*sizeMultiply)" width="@sizeMultiply" height="@sizeMultiply"
                       href="@Game.GameBoard.Tiles[x,y].OccupyingPrice.AssetPath"
                       onclick="@(() => HandleClick(x2,y2))">
                </image>
            }
        }
    }
</svg>

@code {
    [Parameter]
    public Game Game { get; set; }

    private HubConnection? hubConnection;

    private static double sizeMultiply { get; set; }

    private int movingPiceX = -1;
    private int movingPiceY = -1;

    private int boardX { get; set; }
    private int boardY { get; set; }
    //TODO add suport for more size
    private bool[,] highLightTile = new bool[8, 8];


    protected async override void OnParametersSet()
    {
        boardX = Game.GameBoard.Tiles.GetLength(0);
        boardY = Game.GameBoard.Tiles.GetLength(1);

        sizeMultiply = 100.0 / boardX;
        Game.OnChange += () => { Game.SetGameStateToTurn(Game.MoveToShow); };

        Game.OnSmallChange += StateHasChanged;

        await hubConnection.SendAsync("GetHistory", Game.Id);
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(Navigation.ToAbsoluteUri("/BoardHub"))
        .WithAutomaticReconnect()
        .Build();



        hubConnection.On<List<HistoryMove>>("fullLoad", (moves) =>
        {
            Game.MovesMade = moves;
            //Game.NotifyStateChanged();

            //Game.SetBaseState();

            //foreach (var move in moves)
            //{
            //    Game.Move(move);
            //}
            Game.SetMoveToShowToCurrent();
            Game.SetGameStateToTurn(Game.MoveToShow);

            ClearHighlightTile();
            Game.NotifySmallChange();
        });

        hubConnection.On<HistoryMove>("move", (move) =>
        {
            //TODO reinsert
            Game.Move(move);
            Game.MovesMade.Add(move);

            Game.SetMoveToShowToCurrent();
            Game.NotifySmallChange();
        });

        await hubConnection.StartAsync();
    }



    private async Task SendMove(HistoryMove move)
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("MakeMove", Game.Id, move);
        }
    }



    private void HandleClick(int x, int y)
    {
        var squareClicked = Game.GameBoard.Tiles[x, y];
        if(Game.MovesMade.Count != Game.MoveToShow)
        {
            return;
        }

        if (squareClicked.OccupyingPrice is not null)
        {
            if (squareClicked.OccupyingPrice.IsBlack == Game.IsBlackTurn)
            {
                ShowAllowedMoves(x, y);
            }
            else
            {
                Move(x, y);
            }
        }
        else
        {
            Move(x, y);
        }
    }

    private void ShowAllowedMoves(int x, int y)
    {
        ClearHighlightTile();

        movingPiceX = x;
        movingPiceY = y;


        foreach (var move in Game.GameBoard.Tiles[x, y].OccupyingPrice.AllowedMoves(Game.GameBoard, x, y))
        {
            highLightTile[move.XDestination, move.YDestination] = true;
        }
        this.StateHasChanged();
    }

    private void ClearHighlightTile()
    {
        movingPiceX = -1;
        movingPiceY = -1;

        @for (int i = 0; i < boardX; i++)
        {
            for (int j = 0; j < boardY; j++)
            {
                highLightTile[i, j] = false;
            }
        }

    }

    private string TileClass(int x, int y)
    {
        if (highLightTile[x, y])
        {
            return "color3";
        }
        else
        {
            return (x + (y % 2 == 1 ? 1 : 0)) % 2 == 0 ? "color1" : "color2";
        }
    }

    //TODO maybe move somware else
    private async void Move(int toX, int toY)
    {
        if (movingPiceX == -1 || movingPiceY == -1)
        {
            return;
        }
        if (Game.Move(movingPiceX, movingPiceY, toX, toY))
        {
            await SendMove(new HistoryMove(movingPiceX, movingPiceY, toX, toY));
        }

        ClearHighlightTile();

        this.StateHasChanged();
    }
}

